.wrapper-contact{
    margin: 0 auto;
    text-align: center;
    border-radius: 5px;
    background-color: #F7F7FF;
    position: relative;
    padding:60px;
}

.contact-form{
    text-align: center;
    margin: 0 auto;
    
}
.get-in-touch{
    margin-bottom: 40px;
}

.contact-form label{
    /* text-align: right; */
    justify-content: left;
}

.title{
    color: #ea6182;
}

