.nav{
    width: 35px;
    background-color: #cccccc;
    padding: 10px;
    border-radius: 50%;
    background-image: url('../../images/github.png');
}

.fa-fw-nav{
    background-color: #ffffff;
    padding: 10px;
    border-radius: 50%;
    color: black;
}