.footer{
    text-align:center;
}

.social-links{
    display: flex;
    justify-content:center;
    align-items: center;
  } 

  .social-links li{
    display: flex;
    justify-content:center;
    align-items: center;
    list-style-type: none;
    margin: 0 10px;
    border-radius: 50%;
  }

  i.fa {
    display: inline-block;
    border-radius: 60px;
    box-shadow: 0px 0px 2px #888;
    padding: 0.5em 0.6em;
  
  }
ul .social{
    padding-left: 10px;
}
.icon-heart{
    color:red;
}
ul li .fa-github-alt{
    color:white;
    background-color: #3f5995;
    padding:10px 15px;
    border-radius: 50%
  }
  
  ul li .fa-linkedin-in{
    color:white;
    background-color: #177faf;
    padding:10px 15px;
    border-radius: 50%
  }
  ul li .fa-twitter{
    color:white;
    background-color: #23aae9;
    padding:10px 15px;
    border-radius: 50%
  }
  .github-footer{
      text-decoration: none;
      font-weight:bold;
      color:red;
  }

 .footer-content{
   margin-top:50px;
 }