.footer{
    text-align:center;
}

.social-links{
    display: flex;
    justify-content:center;
    align-items: center;
  } 

  .social-links li {
    display: flex;
    justify-content:center;
    /* align-items: center; */ 
    list-style-type: none;
    margin: 0 10px;
  }

  .social-links i.fab {
    display: flex;
    box-shadow: 0px 0px 2px #888;
    color:#ffffff;
    border-radius: 50%;
    justify-content: center;
    align-items: center;
    height: 45px;
    width: 45px;
    font-size: 1.2rem;
  }
ul .social{
    padding-left: 10px;
}
.icon-heart{
    color:red;
}
ul li .fa-github-alt{
    background-color: #3f5995;
   
 
  }
  
  ul li .fa-linkedin-in{
    background-color: #177faf;   
  }
  ul li .fa-twitter{
   
    background-color: #23aae9;

   
  }
  .github-footer{
      text-decoration: none;
      font-weight:bold;
  }

 .footer-content{
   margin-top:50px;
 }